@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

h1.logo {
    font-family: 'cwTeXFangSong', serif;
    text-align: center;
    font-size: 55px;
    color: #4B0091;
}

#number {
    font-family: 'cwTeXFangSong', serif;
    text-align: left;
    font-size: 25px;
    font-style: italic;
}

#description {
    font-family: 'cwTeXFangSong', serif;
    text-align: left;
    font-size: 25px;
    color: #4B0091;
}

.result {
    text-align:center;
    display: none;
}

